.register-page {
  display: flex;
  margin: 50px auto;
  justify-content: center;
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
  width: 90%;
  gap: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
}

.register-left {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-left img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.register-right {
  margin: 0 auto;
  width: 50%;
  min-width: 400px;
  padding: 40px 30px;
}

.register-right h2 {
  color: var(--color-primary);
  margin-bottom: 5px;
}

.register-right p {
  color: var(--color-text-muted);
  margin-bottom: 25px;
  font-size: 14px;
}

.register-form .form-group {
  margin-bottom: 20px;
  position: relative;
}

.register-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 14px;
}

.register-form input {
  width: 100%;
  padding: 12px  60px  12px 14px; 
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 14px;
}

input[type="password"] {
  position: relative;
}

.btn-register {
  width: 100%;
  padding: 12px;
  background-color: var(--color-primary);
  border: none;
  color: var(--text-inverse);
  font-weight: 600;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-register:hover {
  background-color: var(--color-primary);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.login-link {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
  color: var(--color-text-muted);
}

.login-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  text-decoration: underline;
}
